#reg{
width: 400px;
margin:0 auto;
margin-top:30px;
padding-left:10px; 
color: black;
}

#reg.p{
text-align: center;
}

input[type=text],input[type=password],input[type=tel],input[type=date],input[type=email],input[type=number],input[type=url]{
    padding: 3px;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
	border: 2px solid black;
    border-radius: 4px;
}
textarea{
	position: relative;
    left: 0;
    outline: none;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
	border: 2px solid black;
    border-radius: 4px;
}
input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	float: middle;
}

select {
    width: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}