body {
    font-family: "Lato", sans-serif;
}
.container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
.bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
.sidenav p{
	color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	margin-top: 14px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.footer{
	position: absolute;
	bottom: 0;
}
#main {
    transition: margin-left .2s;
    float:left;
}
#div-left{
	margin: auto;
	 width: 30%;
    color: black;
	margin-left:25%;
	float: left;
}
#div-right{
	margin: auto;
	 width: 30%;
	 color: black;
    border: 3px solid white;
	margin-left: 55%;
}
#div-left h2, #div-right h2{
   
	padding: 10px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
input[type=submit],input[type=button] {
    background-color: #1abc9c;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
	
}