<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<context:component-scan base-package="com.wpl.bidding.controller" />
	<context:component-scan base-package="com.wpl.bidding.service" />
	<context:component-scan base-package="com.wpl.bidding.dao" />
	<context:component-scan base-package="com.wpl.bidding.common" />
	<context:component-scan base-package="com.wpl.bidding.model" />
	<mvc:annotation-driven />

<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
	<property name="host" value="smtp.gmail.com" />
	<property name="port" value="587" />
	<property name="username" value="Manisha3903@gmail.com" />
	<property name="password" value="Manisha3005_" />

	<property name="javaMailProperties">
		<props>
           	<prop key="mail.smtp.auth">true</prop>
           	<prop key="mail.smtp.starttls.enable">true</prop>
       	</props>
	</property>
</bean>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/bidding_system" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>


	<bean id="sessionFactory" 
     class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" />
		 <property name="configLocation">
                <value>/WEB-INF/hibernate.cfg.xml</value>
            </property>
		<property name="packagesToScan" value="com.wpl.bidding.persist" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
			</props>
		</property>
	</bean>
	
	<bean id="txManager"
    class="org.springframework.orm.hibernate4.HibernateTransactionManager">
      <property name="sessionFactory" ref="sessionFactory" />
   </bean>
 
   <bean id="persistenceExceptionTranslationPostProcessor"
    class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
 
	<bean id="loginServiceImpl" class="com.wpl.bidding.service.LoginServiceImpl">
	</bean>
	<bean id="loginDaoImpl" class="com.wpl.bidding.dao.LoginDaoImpl"></bean>
	<bean id="searchDaoImpl" class="com.wpl.bidding.dao.SearchDaoImpl"></bean>
	<bean id="searchServiceImpl" class="com.wpl.bidding.service.SearchServiceImpl"></bean>
	<bean id="userService" class="com.wpl.bidding.service.UserServiceImpl">
	</bean>
	<bean id="userDao" class="com.wpl.bidding.dao.UserDaoImpl"></bean>
	<bean id="UserModel" class="com.wpl.bidding.model.UserModel"></bean>

	<mvc:resources mapping="/resources/**" location="/resources/" />
	<mvc:resources mapping="/css/**" location="/css/"
		cache-period="31556926" />
	<mvc:resources mapping="/images/**" location="/images/"
		cache-period="31556926" />

</beans>
